.fs-7
{
    font-size: 0.75em;
}

code
{
    white-space: pre;
    overflow-x: auto;
    text-wrap: nowrap;
}

.code-container
{
    position: relative;
}

.copy-url
{
    position: absolute;
    right: 0%;
    top:0%;
}

.highlighter
{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);
    padding: 0.2em;
}

.container-fluid
{
    --bs-gutter-x: 3rem;
}